.header_container{
    background-color: $firstBlueColor;
    .first_menu{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        li{
            color: white;
            font-size: .7rem;
            font-weight: bolder;
        }
    }
}

.header_nav{
    padding-bottom: .8rem;
    display: flex;
    align-items: center;
    img{
        width: 65px;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        li{
            a{
                padding-bottom: 2rem;
                color: $text_dark;
                text-decoration: none;
                &:hover{
                    color: $firstBlueColor;
                }
            }
        }
    }

    .search_bar{
        text-align: end;
        .search_input{
            background-color: transparent;
            border: none;
            border-bottom: 3px solid $firstBlueColor;
        }
        position: relative;
        text-decoration: none;
        .search_icons{
            position: absolute;
            top: 0px;
            right: 0px;
        }
        
    }
}
.jumbo{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 400px;
 }
 
.active{
    border-bottom: 4px solid $firstBlueColor;
}