#card_body{
    text-transform: uppercase;
    background-color: #1C1C1C;
    padding: 1rem 0;
}

.comics_container{
    background-color: #1C1C1C;
}

.crop{
    height: 160px;
    overflow: hidden;
}

.int{
    width: fit-content;
    background-color: $firstBlueColor;
    margin-top: -70px;
    padding: .3rem 1.5rem;
    font-weight: bold;
}

.load_more{
    padding: .2rem 3rem;
    background-color: $firstBlueColor;
    border: none;
}

.main_list{
    background-color: $firstBlueColor;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: white;
        font-size: .7rem;
        font-weight: bold;
    }
    img{
        width: 33px;
    }
}
