#card_body{
    text-transform: uppercase;
    background-color: #1C1C1C;
    padding: 1rem 0;
}

.comics_container{
    background-color: #1C1C1C;
}

.crop{
    height: 160px;
    overflow: hidden;
}

.int{
    width: fit-content;
    background-color: $firstBlueColor;
    margin-top: -70px;
    padding: .3rem 1.5rem;
    font-weight: bold;
}

.load_more{
    padding: .2rem 3rem;
    background-color: $firstBlueColor;
    border: none;
}

.main_list{
    background-color: $firstBlueColor;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: white;
        font-size: .7rem;
        font-weight: bold;
    }
    img{
        width: 33px;
    }
}

.blue_line{
    height: 100px;
    width: 100%;
    background-color: $firstBlueColor;
    img{
        width: 220px;
        margin-top: -255px;
        border: 2px solid white;
    }
    
}

.comic_main{
   
    .md_cnt{
        width: 65%;
        margin: auto;
        .comic{
            h3{
                color: #003F5E;
            }
        }
    }
    .adv{
        text-align: end;
        font-weight: bolder;
        color: #555555;
        img{
            height: 200px;
        }
    }

    .green_bar{
        background-color: #55BA59;
        margin: 0;
        border-bottom: 2px solid #357739;
        .col-8{
            border-right: 2px solid #357739;
        } 
    }

}
